@font-face {
  font-family: AtlasTypewriterReg;
  src: url('../fonts/AtlasTypewriter-Regular.otf');
}

@font-face {
  font-family: AtlasTypewriterLight;
  src: url('../fonts/AtlasTypewriter-Light.otf');
}

@font-face {
  font-family: AtlasTypewriterMedium;
  src: url('../fonts/AtlasTypewriter-Medium.otf');
}

@font-face {
  font-family: AtlasTypewriterBold;
  src: url('../fonts/AtlasTypewriter-Bold.otf');
}

@font-face {
  font-family: KarlaReg;
  src: url('../fonts/Karla-Regular.ttf');
}

@font-face {
  font-family: KarlaBold;
  src: url('../fonts/Karla-Bold.ttf');
}
