---
---

@import '_variables';

header {
    background-color: #1E1E1E;
}

#single-article {
    padding-top: 40px;

    p {
        color: $texteMoyen;
    }
}

h1 {
    margin-top: 28px;
}

#meta-single-article {
    margin-bottom: 28px;
}
