        <footer>
            <nav class="row hide-for-medium-only"> <!-- MOBILE -->

                <ul id="nav-principale" class="small-12 columns">
                    <li><a id="logo" href="index.html">Oiseaux de nuit</a></li>
                    <li><a href="#">Articles</a></li>
                    <li><a href="#">Médias</a></li>
                    <li><a href="#">Events</a></li>
                </ul>

                <ul id="meta-nav" class="small-12 columns">
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>

            </nav> <!-- /MOBILE -->

            <nav class="show-for-medium-only"> <!-- TABLET -->

                <div class="row">
                    <a id="logo" class="text-center" href="index.html">Oiseaux de nuit</a>
                </div>

                <div class="row">

                    <ul id="nav-principale" class="medium-7 columns">
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Médias</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>

                    <ul id="meta-nav" class="medium-5 columns">
                        <li><a href="#">À propos</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ul>

                </div>

            </nav> <!-- /TABLET -->
        </footer>

        </div> <!-- wrapper -->

        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        <script src="js/classie.js"></script>
        <script src="js/sidebarEffects.js"></script>
    </body>
</html>
