
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ site.title }}</title>

    <meta name="description" content="{{ site.description }}"> <!-- A REMPLIR -->

    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="Oiseauxdenuit.ca — Québec 2015. — PLUS D'INFOS BIENTÖT MON G. " />
    <meta property="og:locale" content="fr_CA" />
    <meta property="og:url" content="http://oiseauxdenuit.ca/" />
    <meta property="og:image" content="img/ogp.jpg" />
    <meta property="og:width" content="1200" />
    <meta property="og:height" content="630" />

    <link rel="stylesheet" href="css/odn.css">
    <script src="js/vendor/modernizr.js"></script>
</head>
