<body>

<div id="wrapper">    <!--     WRAPPER      -->

    <span id="copyright">Copyright © Oiseaux de nuit 2015 — Tous droits réservés</span>

    <header>
        <nav class="row hide-for-medium-only"> <!-- MOBILE + DESKTOP -->

            <ul id="nav-principale" class="small-12 large-8 columns">
                <li><a id="logo" href="{{ site.baseurl }}">Oiseaux de nuit</a></li>
                <li><a href="{{ site.baseurl }}/Articles">Articles</a></li>
                <li><a href="{{ site.baseurl }}/Medias">Médias</a></li>
                <li><a href="{{ site.baseurl }}/Events">Events</a></li>
            </ul>

            <ul id="meta-nav" class="small-12 large-4 columns">
                <li><a href="{{ site.baseurl}}/about">À propos</a></li>
                <li><a href="https://www.facebook.com/odnqc" target="_blank">Facebook</a></li>
            </ul>

        </nav> <!-- /MOBILE + DESKTOP -->

        <nav class="show-for-medium-only"> <!-- TABLET -->

            <div class="row">
                <a id="logo" class="text-center" href="{{ site.baseurl }}">{{ }}</a>
            </div>

            <div class="row">

                <ul id="nav-principale" class="small-12 large-8 columns">
                    <li><a id="logo" href="{{ site.baseurl }}">Oiseaux de nuit</a></li>
                    <li><a href="{{ site.baseurl }}/Articles">Articles</a></li>
                    <li><a href="{{ site.baseurl }}/Medias">Médias</a></li>
                    <li><a href="{{ site.baseurl }}/Events">Events</a></li>
                </ul>

                <ul id="meta-nav" class="small-12 large-4 columns">
                    <li><a href="{{ site.baseurl}}/about">À propos</a></li>
                    <li><a href="https://www.facebook.com/odnqc" target="_blank">Facebook</a></li>
                </ul>

            </div>

        </nav> <!-- /TABLET -->
    </header>
