<!doctype html>
<html class="no-js" lang="fr">

{% include head.html %}

{% include header.html %}

    {{ content }}

    <div id="acc-pagination">
        <div id="acc-pagination-mobile" class="pagination-centered hide-for-large-up small-12 columns">
            <ul class="pagination">
                <li class="arrow unavailable"><a href="">&laquo;</a></li>
                <li class="current"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li class="arrow"><a href="">&raquo;</a></li>
            </ul>
        </div>

        <div id="acc-pagination-medium-up" class="show-for-large-up small-12 medium-12 large-8 large-offset-3 columns end">
            <ul class="pagination">
                <li class="arrow unavailable"><a href="">&laquo;</a></li>
                <li class="current"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li class="arrow"><a href="">&raquo;</a></li>
            </ul>
        </div>
    </div>

{% include footer.html %}
