<!doctype html>
<html class="no-js" lang="fr">

{% include post-head.html %}

{% include header.html %}

<div id="single-article">

    <div id="ftd-img" class="row">
        <div class="medium-12 large-10 large-centered columns end"><img src="{{ site.baseurl }}/img/{{ page.ftd-img }}" alt="{{ page.title }}"></div>
    </div>

    <div id="contenu-single-article" class="small-12 medium-8 medium-centered large-6 large-centered columns">

        <h1 class="text-center">{{ page.title }}</h1>

        <div id="meta-single-article" class="meta-article text-center">
            <span class="date-article">{{ page.date | date: "%d %-b, %y" }}</span>
            <a class="cat-article" href="{{ page.category prepend: site.baseurl}}">{{ page.category}}</a>
            <!-- <span class="auteur-article">alord</span> -->
        </div>

        {{ content }}

    </div>

</div>

{% include footer.html %}
